<div class="form-group {% if obj.errors %}has-error{% endif %}">
    <label for="{{ obj.id_for_label }}">
        {{ obj.label }}
    </label>

    {{ obj }}
    {% if obj.errors and field_error %}
        <div class="help-block">{{ obj.errors.0 }}</div>
    {% endif %}

</div>
