{% block content %}

{% block registration_content %}

<div class="messages">
    <div id="messages">
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}
        >
            {{ message }}
        </span>
        {% endfor %}
    </div>
</div>

{% endblock registration_content %}

{% endblock content %}
