{% load i18n %}
<p>{% trans 'Hi' %}</p>

<p>{% blocktrans trimmed %}
    We have received a signup from {{ email }}.

    If you did sign up recently, please click on the link below
    to let us know it's really you:
{% endblocktrans %}
</p>

<p>
    <a href="{{ validation_url|safe }}">{{ validation_url|safe }}</a>
</p>

<p>{% trans 'All the best & looking forward' %}</p>

<p>{% trans 'the team' %}</p>
