{% extends "registration/base.html" %}
{% load backend_utils i18n staticfiles %}

{% block registration_content %}
{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<div class="text-content login">
    {% if form.errors %}
    <div>Your username and password didn't match. Please try again.</div>
    {% endif %}

    <form method="post" autocomplete="off" action="{% url 'accounts:login' %}" class="login-form form-grey__fields">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% include 'registration/includes/form_obj.html' with obj=field field_error=False %}
        {% endfor %}

        <button type="submit">Login</button>
        <a href="{% url 'password_reset' %}">or get a new password</a>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <p>
        <a class="big-button"
           href="{% url 'accounts:signup' %}?next={{ next }}{% if request.GET.deeplink %}&deeplink=true{% endif %}">
            Sign up for free
        </a>
    </p>
</div>
{% endblock %}
