{% load backend_utils %}
{% available_backends as available_backends %}
{% for sublist in available_backends|social_backends %}
    <div class="row">
        {% for name, backend in sublist %}
            {% associated backend %}
            {% if association %}
                <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
                    <a class="big-button disconnect form-trigger" name="{{ backend|backend_class }}" href="#">
                        <i class="fa fa-{{ name|icon_name }}"></i>
                        Disconnect {{ backend|backend_name }}
                    </a>
                </form>
            {% else %}
                <a class="big-button connect form-trigger" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    {{ button_action }} {{ backend|backend_name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<script>
    jQuery( document ).ready(function() {
        jQuery('.disconnect-form').on('click', '.form-trigger', function (event) {
            event.preventDefault();
            $(event.target).closest('form').submit();
        });

        // http://stackoverflow.com/questions/23923605/universal-analytics-and-signup-with-facebook?rq=1
        // remember sessions that used oauth login so we can patch Google Analytics to ignore the referral
        jQuery('.connect').on('click', function() {
            document.cookie = "google-analytics-referral-override=true; path=/";
        });

        // this cookie is then evaluated by Google Tag Manager on page load to prevent GA to register a referral
    });

</script>