{% extends "registration/base.html" %}
{% load backend_utils i18n staticfiles %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<form action="" method="post">{% csrf_token %}
    {% if form.errors %}
    <p>
        There was some problem with the input you provided: </p>
    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ field.label }}: {{ error|lower }}</li>
        {% endfor %}
        {% endfor %}

    </ul>
    {% endif %}


    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <div id="password1" class="form-row">
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    </div>

    <div class="form-row">
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    </div>

    <div class="submit-row">
        <button type="submit">Set my password</button>
    </div>

    <script type="text/javascript">document.getElementById("password1").focus();</script>
</form>

{% endblock %}
