{% extends "registration/base.html" %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<form action="" method="post" class="password-reset-form">
    {% csrf_token %}
    <div>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify
            you typed it in correctly.</p>
        {% if form.errors %}
        <div>
            {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
            below.{% endif %}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
        {% include 'registration/includes/form_obj.html' with obj=field field_error=True %}
        {% endfor %}

        <div class="submit-row">
            <button type="submit">
                Change my password
            </button>
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </div>
</form>
{% endblock %}
