{% extends "registration/base.html" %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="{% url 'accounts:login' %}">login</a>
{% endblock %}
