{% extends "registration/base.html" %}
{% load backend_utils i18n staticfiles %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one." context 'Reset password instruction' %}</p>

<form action="" method="post" class="password-reset-form">{% csrf_token %}
    {{ form.email.errors }}
    <label for="id_email">Email address:</label> {{ form.email }}
    <button type="submit">Reset my password</button>
</form>

{% endblock %}
