{% extends "registration/base.html" %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}
<p>The password has been changed.</p>
<a href="{% url 'investors:dashboard_home' %}">back to your investor's profile</a>.

{% endblock %}
