{% extends "registration/base.html" %}
{% load backend_utils i18n staticfiles %}

{% block registration_content %}
{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<p>We've emailed you instructions for setting your password, if an account exists
    with the email you entered. You should receive them shortly.
</p>

<p>If you don't receive an email, please make sure you've entered the address you
    registered with, and check your spam folder.
</p>

{% endblock %}
