{% extends "registration/base.html" %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

{% if validlink %}

<p>Please set your new password</p>

<form action="" method="post">{% csrf_token %}
    {{ form.new_password1.errors }}
    <p>
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
    </p>
    {{ form.new_password2.errors }}
    <p>
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </p>
    <p>
        <button type="submit">
            Change my password
        </button>
    </p>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>

{% endif %}

{% endblock %}
