{% load i18n %}{% autoescape off %}
    <p>
        {% blocktrans trimmed %}
            You're receiving this email because you requested a password reset for your
            user account at {{ business_name }}.
        {% endblocktrans %}
    </p>

    <p>
        {% trans "Please go to the following page and choose a new password:" %}
        {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
    </p>

    <p>
        {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    </p>

    <p>
        {% trans "Thanks for using our site!" %}
    </p>

    <p>
        {% trans 'The team' %}
    </p>

{% endautoescape %}
