{% extends "registration/base.html" %}
{% load static i18n %}

{% block registration_content %}

{# always add block.super so that additional content in the extended template can apply #}
{{ block.super }}

<p>User: {{ user.email }}</p>

{% if password_set %}
<a href="{% url 'password_change' %}">Change your password</a>
{% else %}
<a href="{% url 'accounts:password_set' %}">Set a password</a>
{% endif %}


{% include 'registration/oauth_buttons.html' %}


{% endblock %}
