{% extends "registration/base.html" %}
{% load backend_utils %}

{% block registration_content %}

    {# always add block.super so that additional content in the extended template can apply #}
    {{ block.super }}

    <div class="text-content login signup">

        {% if form.errors %}
            <p>
            There was some problem with the input you provided: </p>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error|lower }}</li>
                {% endfor %}
            {% endfor %}

            </ul>
        {% endif %}

        <form method="post" autocomplete="off" action="{% url 'accounts:signup' %}">
            {% csrf_token %}

             <div id="email">
                <span>
                    {{ form.email.label_tag }}<br />
                    {{ form.email }}
                </span>
            </div>
            <div id="password1">
                <span>
                    {{ form.password1.label_tag }}<br />
                    {{ form.password1 }}
                </span>
            </div>
            <div id="password2">
                <span>
                    {{ form.password2.label_tag }}<br />
                    {{ form.password2 }}
                </span>
            </div>

            {% comment %}
                as this view is referred to by get and not by post, {{ next }} will most likely not be set.
            {% endcomment %}
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ request.GET.next }}{% endif %}" />
            <button type="submit">Sign Up</button>
        </form>

    </div>

{% endblock %}
